

.section-description {
    font-size: 18px;
    color: #928d8d;
}

.explore-link {
    text-decoration: none;
    color: #00b289;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}
.heading-small-22.text-weight-light {
    font-weight: 300;
}

.heading-small-22 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 700;
}

.middle-section-data{
    margin-left: 5rem;
}

.middle-section-img{
    height: 400px;
    width: 550px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .section-title {
        font-size: 26px;
    }

    .section-description {
        font-size: 16px;
    }

    .explore-link {
        font-size: 14px;
    }
    .middle-section-data{
        margin:0;
        text-align: justify;
    }
}

@media (max-width: 576px) {
    .section-title {
        font-size: 22px;
    }

    .section-description {
        font-size: 14px;
    }

    .explore-link {
        font-size: 12px;
    }

    .proposal-image {
        width: 100%;
        height: auto;
    }
    .middle-section-data{
        margin:0;
        text-align: justify;
    }
}
