.privacy-container{
    max-width: 1200px;
    margin-top: 5rem;
}

.privacy-content {
    background-color: #fefbfb; 
    padding: 4rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 4rem;
}

.privacy-content span{
    color: #00b289;
}

.privacy-content p{
    font-size: 16px;
}

.content-list-data{
    margin-left: 60px;
}

@media (max-width: 768px) {
    .privacy-container{
        max-width: 1300px;
    }
    .privacy-content{
        padding: 1rem;
        text-align: justify;
    }
    .content-list-data{
        margin-left: 25px;
    }
}

@media (max-width: 576px) {
    .privacy-container{
        max-width: 1300px;
    }
    .privacy-content{
        padding: 1rem;
        text-align: justify;
    }
    .content-list-data{
        margin-left: 25px;
    }
}